<!-- Footer Area Start -->
<footer class="footer-area bg-gray">
  <div class="footer-widget-area bg-3 pt-98 pb-90 fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 centered-element">
          <address class="single-footer-widget">
            <img
              src="img/logo/logo.png"
              alt="Salsa Candela Logo"
              class="logo"
            />
            <br />
            <ul>
              <li>
                <a href="https://wa.me/5215541443745" target="_blank" rel="noopener noreferrer" onclick="gtag('event', 'contact_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'WhatsApp Phone', 'value': 1});"
                  ><i class="zmdi zmdi-phone"></i> 55 4144 3745</a
                >
              </li>
              <li>
                <a href="https://www.facebook.com/Salsaycandela" onclick="gtag('event', 'social_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Facebook', 'value': 1});"
                  ><i class="zmdi zmdi-facebook"></i> salsaycandela</a
                >
              </li>
              <li>
                <a href="https://www.instagram.com/salsa_candela/" onclick="gtag('event', 'social_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Instagram', 'value': 1});"
                  ><i class="zmdi zmdi-instagram"></i>salsa_candela</a
                >
              </li>
              <li>
                <a href="mailto:contacto@salsa-candela.com" onclick="gtag('event', 'contact_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Email', 'value': 1});"
                  ><i class="zmdi zmdi-email"></i> contacto@salsa-candela.com</a
                >
              </li>
              <li>
                <a href="https://maps.app.goo.gl/7PYEk4XYtFckD4SK9" target="_blank" rel="noopener noreferrer" onclick="gtag('event', 'contact_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Google Maps Address', 'value': 1});"
                  ><i class="zmdi zmdi-home"></i> Estafetas 99, Col Postal, CDMX</a
                >
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-text-area fix bg-coffee ptb-18">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-text text-center">
            <span>
              &copy; <span id="copyright-year"></span> Salsa Candela. <br />
              <a href="/aviso-privacidad" onclick="gtag('event', 'legal_link_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Aviso de Privacidad', 'value': 1});">Aviso de Privacidad</a> |
              <a href="/politica-devoluciones" onclick="gtag('event', 'legal_link_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'Política de Devoluciones', 'value': 1});">Política de Devoluciones</a>
            </span>
            <script>
              document.getElementById("copyright-year").textContent =
                new Date().getFullYear();
            </script>
          </div>
          <p
            style="text-align: center; font-size: 0.7rem; font-weight: 300"
            class="footer-text text-center"
          >
            Hecho por
            <a
              href="https://www.bite-size.mx/"
              target="_blank"
              rel="noopener noreferrer"
              onclick="gtag('event', 'outbound_link_click', {'event_category': 'Footer', 'language': '<%= lang %>', 'event_label': 'BiteSize', 'value': 1});"
              >BiteSize</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Area End -->
