<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <!-- Language-specific Meta Tags -->
  <% if (typeof lang !== 'undefined' && lang === 'en') { %>
  <title>Salsa Candela Mexico | Dance Academy CDMX | Salsa & Bachata Classes</title>
  <meta
    name="description"
    content="Learn to dance salsa and bachata in CDMX. Professional instructors, 5-week courses, no partner needed. Join Salsa Candela today!"
  />
  <% } else { %>
  <title>Salsa Candela México | Academia de Baile CDMX | Salsa y Bachata</title>
  <meta
    name="description"
    content="Academia de baile de enseñanza de salsa cubana y bachata en CDMX. Instructores profesionales, cursos de 5 semanas, no necesitas pareja."
  />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Hreflang Tags for SEO -->
  <% if (typeof currentPath !== 'undefined') { %>
  <link rel="alternate" hreflang="es" href="https://salsa-candela.com<%= currentPath %>" />
  <link rel="alternate" hreflang="en" href="https://salsa-candela.com/en<%= currentPath %>" />
  <link rel="alternate" hreflang="x-default" href="https://salsa-candela.com<%= currentPath %>" />
  <% } %>

  <!-- Open Graph Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Salsa Candela" />
  <% if (typeof lang !== 'undefined' && lang === 'en') { %>
  <meta property="og:title" content="Salsa Candela Mexico | Dance Academy CDMX" />
  <meta property="og:description" content="Learn to dance salsa and bachata in CDMX. Professional instructors, 5-week courses, no partner needed." />
  <meta property="og:locale" content="en_US" />
  <% } else { %>
  <meta property="og:title" content="Salsa Candela México | Academia de Baile CDMX" />
  <meta property="og:description" content="Academia de baile de enseñanza de salsa cubana y bachata en CDMX. Instructores profesionales, cursos de 5 semanas." />
  <meta property="og:locale" content="es_MX" />
  <% } %>
  <meta property="og:image" content="https://salsa-candela.com/img/logo/logo.png" />
  <% if (typeof currentPath !== 'undefined') { %>
  <meta property="og:url" content="https://salsa-candela.com<%= lang === 'en' ? '/en' : '' %><%= currentPath %>" />
  <% } %>

  <!-- Favicon Configuration -->
  <link
    rel="icon"
    type="image/png"
    href="/my-favicon/favicon-96x96.png"
    sizes="96x96"
  />
  <link rel="icon" type="image/svg+xml" href="/my-favicon/favicon.svg" />
  <link rel="shortcut icon" href="/my-favicon/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/my-favicon/apple-touch-icon.png"
  />
  <link rel="manifest" href="/my-favicon/site.webmanifest" />

  <!-- All css here -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css" /> -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
  />
  <link rel="stylesheet" href="css/shortcode/shortcodes.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/style_general.css" />
  <link rel="stylesheet" href="css/style_navigation_mobile.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-CVYCZ5NTSK"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-CVYCZ5NTSK");
  </script>

  <!-- TikTok Pixel Code Start -->
  <script>
    !(function (w, d, t) {
      w.TiktokAnalyticsObject = t;
      var ttq = (w[t] = w[t] || []);
      (ttq.methods = [
        "page",
        "track",
        "identify",
        "instances",
        "debug",
        "on",
        "off",
        "once",
        "ready",
        "alias",
        "group",
        "enableCookie",
        "disableCookie",
        "holdConsent",
        "revokeConsent",
        "grantConsent",
      ]),
        (ttq.setAndDefer = function (t, e) {
          t[e] = function () {
            t.push([e].concat(Array.prototype.slice.call(arguments, 0)));
          };
        });
      for (var i = 0; i < ttq.methods.length; i++)
        ttq.setAndDefer(ttq, ttq.methods[i]);
      (ttq.instance = function (t) {
        for (var e = ttq._i[t] || [], n = 0; n < ttq.methods.length; n++)
          ttq.setAndDefer(e, ttq.methods[n]);
        return e;
      }),
        (ttq.load = function (e, n) {
          var r = "https://analytics.tiktok.com/i18n/pixel/events.js",
            o = n && n.partner;
          (ttq._i = ttq._i || {}),
            (ttq._i[e] = []),
            (ttq._i[e]._u = r),
            (ttq._t = ttq._t || {}),
            (ttq._t[e] = +new Date()),
            (ttq._o = ttq._o || {}),
            (ttq._o[e] = n || {});
          n = document.createElement("script");
          (n.type = "text/javascript"),
            (n.async = !0),
            (n.src = r + "?sdkid=" + e + "&lib=" + t);
          e = document.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(n, e);
        });

      ttq.load("D459FP3C77U6O1UKP1RG");
      ttq.page();
    })(window, document, "ttq");
  </script>
  <!-- TikTok Pixel Code End -->
</head>
