<!-- Table Start -->

<!-- Table 1 Start -->
<table class="styled-table">
  <thead>
    <tr>
      <th><%= lang === 'en' ? 'Workshop' : 'Taller' %></th>
      <th>L</th>
      <th>M</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= lang === 'en' ? 'Day of the week:' : 'Dia de la semana:' %></td>
      <td><%= lang === 'en' ? 'Monday & Wednesday' : 'Lunes y Miércoles' %></td>
      <td><%= lang === 'en' ? 'Tuesday & Thursday' : 'Martes y Jueves' %></td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Class duration:' : 'Duración de clase:' %></td>
      <td>90 min</td>
      <td>90 min</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Number of classes:' : 'Numero de clases:' %></td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Program duration:' : 'Duración del programa:' %></td>
      <td>5 <br /><%= lang === 'en' ? 'weeks' : 'semanas' %></td>
      <td>5 <br /><%= lang === 'en' ? 'weeks' : 'semanas' %></td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Location:' : 'Sucursal:' %></td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-satelite">Satelite</a>
      </td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-claveria">Claveria</a><br /><br />
        <a href="#sucursal-coapa">Coapa</a>
      </td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Individual Price:' : 'Precio Individual:' %></td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Couple Price:' : 'Precio Pareja:' %></td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
    </tr>
  </tbody>
</table>
<!-- Table 1 End -->

<!-- Table 2 Start -->
<table class="styled-table">
  <thead>
    <tr>
      <th><%= lang === 'en' ? 'Workshop' : 'Taller' %></th>
      <th>S</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= lang === 'en' ? 'Day of the week:' : 'Dia de la semana:' %></td>
      <td><%= lang === 'en' ? 'Saturdays' : 'Sábados' %></td>
      <td><%= lang === 'en' ? 'Sundays' : 'Domingos' %></td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Class duration:' : 'Duración de clase:' %></td>
      <td>120 min</td>
      <td>120 min</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Number of classes:' : 'Numero de clases:' %></td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Program duration:' : 'Duración del programa:' %></td>
      <td>5 <br /><%= lang === 'en' ? 'weeks' : 'semanas' %></td>
      <td>5 <br /><%= lang === 'en' ? 'weeks' : 'semanas' %></td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Location:' : 'Sucursal:' %></td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a>
      </td>
      <td>
        <a href="#sucursal-xola">Xola</a><br /><br />
        <a href="#sucursal-valle">Valle</a><br /><br />
        <a href="#sucursal-satelite">Satelite</a>
      </td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Individual Price:' : 'Precio Individual:' %></td>
      <td>$ 1,300</td>
      <td>$ 1,300</td>
    </tr>
    <tr>
      <td><%= lang === 'en' ? 'Couple Price:' : 'Precio Pareja:' %></td>
      <td>$ 2,000</td>
      <td>$ 2,000</td>
    </tr>
  </tbody>
</table>
<!-- Table 2 End -->

<!-- Table End -->
