    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Start of Map Area -->
    <section class="map-section pt-60 pb-60 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-title text-center">
              <h2><%= lang === 'en' ? 'Our Locations' : 'Nuestras Ubicaciones' %></h2>
              <p class="mt-3"><%= lang === 'en' ? 'Visit us at any of our branches in Mexico City' : 'Visítanos en cualquiera de nuestras sucursales en la Ciudad de México' %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="map-container">
              <div id="locations-map" class="contact-map-size" style="border-radius: 8px; z-index: 0;"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mt-40">
            <% if (lang === 'en') { %>
            <a href="/en/branches" class="banner-btn map-btn" data-text="View branches" onclick="gtag('event', 'navigation_click', {'event_category': 'Map Section', 'language': '<%= lang %>', 'event_label': 'View All Branches', 'value': 1});">
              <span class="map-btn-mobile">View branches</span>
              <span class="map-btn-desktop">View All Branches</span>
            </a>
            <% } else { %>
            <a href="/sucursales" class="banner-btn map-btn" data-text="Ver sucursales" onclick="gtag('event', 'navigation_click', {'event_category': 'Map Section', 'language': '<%= lang %>', 'event_label': 'Ver Todas las Sucursales', 'value': 1});">
              <span class="map-btn-mobile">Ver sucursales</span>
              <span class="map-btn-desktop">Ver Todas las Sucursales</span>
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Leaflet JS -->
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
      <script>
        (function() {
          var lang = '<%= lang %>';
          var locations = [
            {
              name: 'Xola',
              lat: 19.3905, lng: -99.1429,
              address: lang === 'en'
                ? 'Estafetas 99, Col Postal, Benito Juárez, CDMX'
                : 'Estafetas 99, Col Postal, Benito Juárez, CDMX'
            },
            {
              name: 'Valle',
              lat: 19.3723, lng: -99.1739,
              address: lang === 'en'
                ? 'Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX'
                : 'Félix Cuevas 407, Col del Valle, Benito Juárez, CDMX'
            },
            {
              name: 'Satélite',
              lat: 19.4910, lng: -99.2442,
              address: lang === 'en'
                ? 'Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex'
                : 'Blvd de la Sta Cruz 142, Altavista, Acatlán, Edo Mex'
            },
            {
              name: 'Clavería',
              lat: 19.4636, lng: -99.1825,
              address: lang === 'en'
                ? 'Palestina 10, Clavería, Azcapotzalco, CDMX'
                : 'Palestina 10, Clavería, Azcapotzalco, CDMX'
            },
            {
              name: 'Coapa',
              lat: 19.2901, lng: -99.1195,
              address: lang === 'en'
                ? 'Calz. Acoxpa 885, Coapa, Tlalpan, CDMX'
                : 'Calz. Acoxpa 885, Coapa, Tlalpan, CDMX'
            }
          ];

          var map = L.map('locations-map');
          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            maxZoom: 18
          }).addTo(map);

          var bounds = [];
          locations.forEach(function(loc) {
            var marker = L.marker([loc.lat, loc.lng]).addTo(map);
            marker.bindPopup('<strong>Salsa Candela ' + loc.name + '</strong><br>' + loc.address);
            bounds.push([loc.lat, loc.lng]);
          });

          map.fitBounds(bounds, { padding: [30, 30] });
        })();
      </script>
    </section>
    <!-- End of Map Area -->
