<!DOCTYPE html>
<html class="no-js" lang="es">
  <!-- Include head -->
  <%- include('partials/store_head') -%>

  <body>
    <!-- Include header with custom mobile nav -->
    <%- include('partials/store_header_with_custom_mobile') -%>

    <!-- Include custom mobile nav styles -->
    <%- include('partials/custom_mobile_nav_styles') -%>

    <!-- Banner Area Start -->
    <section class="banner-area text-start">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content-wrapper">
              <div class="banner-content">
                <h2>Fiesta</h2>
                <div class="banner-breadcrumb">
                  <ul>
                    <li>
                      <a href="/">Inicio </a>
                      <i class="zmdi zmdi-chevron-right"></i>
                    </li>
                    <li>Fiesta Mensual</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner Area End -->

    <!-- Event Area Start -->
    <section class="event-area pt-50 pb-10 bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-xl-2 offset-lg-2">
            <div class="section-title text-center">
              <h2>Fiesta Mensual</h2>
              <!-- Description Area -->
              <div style="text-align: left">
                <p></p>
                <p>
                  Ven a bailar Salsa y Bachata en nuestra fiesta mensual. Una
                  noche llena de baile y convivencia. <br /><br />
                  La fiesta es abierta a todo publico y para todos los niveles.
                  Toda la comunidad de Salsa Candela estará presente ese día!
                  <br />
                  <br />
                  Tenemos 3 pistas de salsa y bachata y bebidas a precios
                  accesibles:
                </p>
              </div>
              <!-- End of Description Area -->
              <div
                style="text-align: left; max-width: fit-content; margin: 0 auto"
              >
                <ul class="horarios-fiesta">
                  <b><span style="color: #e04a25">Horarios:</span></b
                  ><br /><br />
                  <li><b>8:30pm</b> Clase de bachata (todos los niveles)</li>
                  <li><b>9:00pm</b> Inicia la fiesta!!! <br /></li>
                  <li><b>3:00am</b> Cierre del evento</li>
                </ul>
                <span>
                  Puedes consultar la ubicación del evento
                  <a href="https://maps.app.goo.gl/ECFAU2rAJXDWHjSs8"
                    ><span style="color: #e04a25">aquí.</span></a
                  >
                </span>
              </div>
            </div>
            <!-- Buy button -->
            <div class="col-12 text-center pb-30">
              <a
                class="banner-btn compact-btn mt-40 pb-30"
                href="/boletos/salsa-candela"
                data-text="Compra tus boletos"
                ><span>Compra tus boletos</span>
              </a>
              <br />
              <br />
              <br />
            </div>
            <!-- End of buy button -->
            <!-- Promo Area -->
            <div class="event-wrapper">
              <div class="event-content text-center">
                <h3>Fiesta mensual</h3>
                <p>Salsa - Timba - Bachata</p>
                <p>$100 pesos preventa, $150 pesos en taquilla.</p>
                <h4>Viernes 4 de julio 2025</h4>
                <h5>9PM - 3AM</h5>
                <br />
                <img
                  src="img/party/fiesta_mensual_2025_07_04.jpeg"
                  alt="Party Invitation"
                />
                <a href="/fiesta"
                  ><h4 class="pt-30">Estafetas 99, Col Postal, CDMX</h4></a
                >
              </div>
              <div class="col-12 text-center">
                <a
                  class="banner-btn compact-btn mt-20"
                  href="/boletos/salsa-candela"
                  data-text="Boletos"
                  ><span>Boletos</span>
                </a>
              </div>
            </div>
            <br />
            <br />
            <br />
            <!-- End of Promo Area -->
          </div>
        </div>
      </div>
    </section>
    <!-- Event Area End -->

    <!-- Include Map -->
    <%- include('partials/store_map') -%>

    <!-- Include Footer -->
    <%- include('partials/store_footer') -%>

    <style>
      .banner-btn.compact-btn {
        line-height: 28px;
        padding: 8px 30px;
      }
    </style>

    <!-- Include Java Script -->
    <%- include('partials/store_js_scripts') -%>

    <!-- Include custom mobile nav script -->
    <%- include('partials/custom_mobile_nav_script') -%>

    <!-- Body & html close -->
  </body>
</html>
